body {
    background: #F7FFE6;
    color: #224411;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125rem;
}

p {
    color: #224411;
}

#file-upload, #submit-button {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125rem;
    margin-top: 0.375rem;
}

#file-upload {
    background-color: #b3ff66;
    border: 0.125rem solid;
    display: block;
    padding: 0.125rem;
}

#hr1 {
    border-top: 1px solid #444444;
    margin-top: 2rem;
}

#footer {
    margin-top: 2rem;
}

#footer>a {
    text-decoration: none;
}

#footer>a:hover {
    text-decoration: underline;
}


@media only screen and (max-width: 420px) {
    
    #heading1 {
        font-size: 1.5rem;
    }
    
    body {
        font-size: 0.875rem;
    }
    
    #file-upload, #submit-button {
        font-size: 0.875rem;
        margin-top: 0.5rem;
    }
    
    #hr1, #footer {
        margin-top: 1.25rem
    }    
}
